{% extends 'base.html' %}
{% load static core_extras %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock extra_head %}

{% block content %}
  <section id="about_us" class=" bg-white pb-32">
    <div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4">
      <div class="flex flex-col lg:flex-row justify-between gap-8 place-items-center">
        <div class="w-full lg:w-5/12 flex flex-col justify-center">
          <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 pb-4">About Us</h1>
          <p class="font-normal text-base leading-6 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Porro soluta dolorum placeat, pariatur eveniet tempora aliquam, aperiam iusto delectus illo beatae
            distinctio? Dolores aperiam
            quod ut officiis, rerum magnam rem!</p>
        </div>
        <div class="w-full lg:w-8/12">
          <img class="w-full h-1/2" src="{% static 'assets/images/instagram_viral.png' %}" alt="viral post"
               style="max-height:700px"/>
        </div>
      </div>
      <div class="flex lg:flex-row flex-col justify-between gap-8 pt-12">
        <div class="w-full lg:w-5/12 flex flex-col justify-center">
          <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 pb-4">Meet The Developer</h1>
          <p class="font-normal text-base leading-6 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Minima doloribus voluptatibus tempore quo tenetur totam, natus ipsum esse sunt praesentium
            expedita a enim hic cupiditate velit
            exercitationem porro. Sapiente, nemo?</p>
        </div>
        <div class="w-full lg:w-8/12 lg:pt-8">
          <div class="grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 lg:gap-4 shadow-lg rounded-md">
            <div class="p-4 pb-6 flex justify-center flex-col items-center">
              <img class="rounded-md bg-black" src="{% static 'assets/static/cbedroid_dev.png' %}" alt="cbedroid"
                   style="height:185px;width:175px">
              <div class="info text-center">
                <div class="flex space-x-2">
                  <a class="flex items-center text-center w-full"  href="http://github.com/cbedroid"
                     target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-github text-center mr-1"></i>
                    <span>Github</span>
                  </a>
                  <a class="flex items-center text-center w-full" href="https://cbedroid-portfolio.vercel.app/"
                     target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-building text-center mr-1"></i>
                    <span>website</span>
                  </a>
                </div>
                <span class="inline-block text-xl text-gray-800 mt-4">Cornelius Brooks (Cbedroid)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
