{% load static %}
<div id="alert_message" class="flex flex-col space-y-2 w-full bg-transparent ">
  {% for message in messages %}
  <div class="alert alert-{{message.tags}} flex w-full">
    <span class="text-center mx-auto">{{message}}</span>
    <button type=" button" class="close " data-dismiss="alert" aria-label="Close">
      <svg class=" hover:text-gray-600 align-middle" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>
  </div>
  {% endfor %}
</div>
