{% load core_extras %}
{% comment %}
Loading custom template tag 'get_user_gallery' to get all of galleries
belonging to the current user. It critical that we filter the data on
the server side (NOT CLIENT SIDE) to prevent us from accidently exposing
any other user's data

-- See core_extra.py for more information
{% endcomment %}
{% get_user_gallery %}
<section id="gallery-sidebar">

  <div class="wrapper">
    <div id="aside-header" class="header">
      <!--Aside Header-->
      <div class="header__menu grid grid-cols-2">
        <a href="{% url 'core:index' %}" class="cta cta--navigation">
          <i class="fa fa-home"></i>
          Home
        </a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'core:gallery-create' %}" class="cta cta--navigation">
          <i class="fa fa-plus-circle"></i>
          Create
        </a>
        {% else %}
        <a href="{% url 'account_login' %}" class="cta cta--navigation">
          <i class="fa fa-user-circle"></i>
          Login
        </a>
        {% endif %}
      </div>
    </div>
    <!-- End Aside Header-->
    <ul class="gallery gallery--list">
      {% for gallery in user_gallery %}
      <li class="gallery__item text-white mt-1">
        <div class="content content--collapsible pl-2 sm:pl-12">
          <!--Preview section-->
          <div class="preview preview--toggler flex flex-between" data-toggler="true" data-dropdown-target="photolist-{{forloop.counter}}">
            <!-- preview left-->
            <div class="preview__left inline space-x-1">
              <i class="fa fa-image"></i>
              <p class="gallery__title inline">{{gallery}}</p>
            </div>
            <!-- preview right-->
            <div class="preview__right inline-block space-x-2">
              <div class="photo-badge">
              <small class="badge bg-red-600 text-white rounded-full inline-block w-5 h-5 align-middle">
                <span class="photo-count">{{gallery.photo_set.count}}</span>
              </small>
              </div>
              <i class="preview__toggler fa fa-caret-down align-middle"></i>
            </div>
          </div>
          <!-- End Preview-->

          <!--Submenu Photo -->
          <div class="photo-menu photo-menu--collapse mt-1">
            <ul class="photo-list flex flex-col collapse space-y-2 pl-8" data-expanded="false" data-target="photolist-{{forloop.counter}}">
              <div class="floater-wrapper w-full">
                <a href="{{gallery.get_absolute_url}}" class="cta cta--blue badge badge--shw float-right max-w-sm text-xs my-1">view gallery</a>
              </div>
              <div class="clear-both"></div>
              {% for photo in gallery.photo_set.all %}
              <li class="photo-list__item font-thin hover-dark text-sm flex flex-between hover-dark p-1">
                <p class="text-ellipsis">{{photo}}</p>
                <a class="img-link" href="{{photo.image.url}}">
                  <img class="block max-w-8 max-h-8 h-auto w-auto" src="{{photo.image.url}}" alt="{{gallery}} {{photo}} image">
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <!--End Preview section-->
        </div>
      </li>
      {% empty %}
      {% if request.user.is_authenticated %}
        <li class="mt-5 p-3 grid place-items-center">
          <h2 class="sm:text-2xl font-serif">You have no gallery
            <i class="fa fa-frown px-1"></i>
          </h2>
          <a href="{% url 'core:gallery-create'%}" class="cta cta--outline-green mt-3">
            Create a gallery
          </a>
        </li>
        {% else %}
        <li class="mt-5 p-3 grid place-items-center">
          <h2 class="sm:text-2xl font-serif">Login now and create your galleries
          </h2>
          <a href="{% url 'core:gallery-create'%}" class="cta cta--outline-blue cta--full-block mt-3">
            Login
          </a>
        </li>
        {% endif %}
      {% endfor %}

    </div>
  </div>
</section>
