{% extends "base.html" %}

{% load static i18n crispy_forms_tags %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section id="password-reset-section" class="min-h-80">
    <div class="container">
        <div id="password-reset" class="py-8">
            <div class="header mb-4">
                <h1 class="font-bold">{% trans "Password Reset" %}</h1>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p class="mb-4">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
            </div>
            <div class="content">
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset mb-4">
                    {% csrf_token %}
                    {{ form|crispy}}
                    <input class="btn btn-primary mt-3" type="submit" value="{% trans 'Reset My Password' %}" />
                </form>
                <p>{% blocktrans %}
                    <i class="fa fa-info-circle"></i>
                    Please contact us if you have any trouble resetting your password.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
