{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}{% endblock breadcrumb %}
{% block content %}
<div class="content">
  <div class="container mx-auto">
    <div class="flex items-center flex-col justify-center lg:flex-row py-28 px-6 md:px-24 md:py-20 lg:py-32 gap-16 lg:gap-28">
      <div class="w-full lg:w-1/2">
        <img class="hidden lg:block" src="{% static 'assets/images/error_404_lg.png' %}" alt="404" />
        <img class="hidden d:block lg:hidden" src="{% static 'assets/images/error_404_md.png' %}" alt="404" />
        <img class="md:hidden" src="{% static 'assets/images/error_404_sm.png' %}" alt="404" />

      </div>
      <div class="w-full lg:w-1/2">
        <h1 class="py-4 text-3xl lg:text-4xl font-extrabold text-gray-800">Looks like you've found the doorway to the great nothing</h1>
        <p class="py-4 text-base text-gray-800">The content you’re looking for doesn’t exist. Either it was removed, or you mistyped the link.</p>
        <p class="py-2 text-base text-gray-800">Sorry about that! Please visit our homepage to get where you need to go.</p>
        <a class="w-full text-center lg:w-auto my-4 border rounded-md px-1 sm:px-16 py-5 bg-indigo-600 text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-opacity-50" href="{% url 'core:index' %}"
          type="button">Go back
          to Home Page</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
