{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<section id="login_section">
  <div class="container row clear-top">
      <div class="grid grid-cols-6 gap-4">
        <div class="card shadow col-span-6 sm:col-start-2 sm:col-span-3 text-black shadow-md mx-2">
          <div class="card-body p-4">
            <legend class="content-title mb-4">Sign In</legend>
            <hr>
            <p class="mt-2 mb-4">Start creating your awesome galleries!</p>
            <form method="POST">
              {% csrf_token %}
              {{form|crispy}}
              <input class="cta cta--outline-blue badge mt-2" type="submit" value="Login">
            </form>
          </div>
        </div>
      </div>
  </div>
</section>
{% endblock body %}
