{% extends 'base.html' %}
{% load static gallery_extras %}

{% block modal %}
{% include 'gallery/snippets/gallery_delete_modal.html' %}
{% endblock modal %}

{% block breadcrumb_link %}
<li class="breadcrumb-item"><a class="font-semibold text-blue-500" href="{% url 'gallery:gallery-list' %}">Gallery</a>
  <i class="fa fa-angle-right text-gray-500"></i>
</li>
<li class="breadcrumb-item"><span class="text-gray-400">{{object.name}}</span></li>
{% endblock breadcrumb_link %}


{% block content %}
{% url 'gallery:gallery-detail' pk=object.pk as current_url %}
<section id="gallery-section" class="clear top bg-white">
  <!-- Gallery Header-->
  <div class="container bg-white w-screen">
    <div class="header py-2">
      <div class="header-top">
        <!-- header user__actions -->
        <div class="header__action flex-between items-center mb-6">
          <div class="share-cta flex md:text-2xl text-gray-400">
            <a href="#" class="border-2 border-gray-200 py-2 px-4  m-auto hover:text-red-600 mr-1">
              <i class="fa fa-heart"></i>
            </a>
            <a href="#" class="border-2 border-gray-200 py-1.5 px-4 m-auto hover:text-blue-300">
              <i class="text-xl md:text-3xl fa fa-share-square"></i>
            </a>
          </div>
          <!-- Actions -->
          {% if is_user %}
          {# desktop action #}
          <div class="gallery-action hidden md:flex content-end">
            <div class="action__btn xl:space-x-1">
              <a class="btn btn-warning bg-yellow-400 border-yellow-400 text-black font-semibold hover:bg-yellow-300 hover:border-yellow-300  hover:text-gray-800 hover:shadow-md" href="{%url 'gallery:gallery-create' %}">
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                  <circle cx="12" cy="12" r="10"></circle>
                  <line x1="12" y1="8" x2="12" y2="16"></line>
                  <line x1="8" y1="12" x2="16" y2="12"></line>
                </svg>
                <span class="ml-1">create</span>
              </a>
              <a class="btn btn-primary font-semibold hover:bg-blue-800 hover:text-gray-100 hover:shadow-md" href="{{object.get_update_url}}">
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                  <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                  <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                </svg>
                <span class="ml-1">update</span>
              </a>
              <a class="btn btn-error bg-red-600 font-semibold hover:bg-red-500 hover:text-gray-100 hover:shadow-md" data-target="gallery-delete-modal">
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                  <circle cx="12" cy="12" r="10"></circle>
                  <line x1="12" y1="8" x2="12" y2="16"></line>
                  <line x1="8" y1="12" x2="16" y2="12"></line>
                </svg>
                <span class="ml-1">Delete</span>
              </a>
            </div>
          </div>
          {# mobile action #}
          <div class="dropdown  dropdown-left md:hidden">
            <div tabindex="0" class="m-1">
              <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                <circle cx="12" cy="12" r="1"></circle>
                <circle cx="19" cy="12" r="1"></circle>
                <circle cx="5" cy="12" r="1"></circle>
              </svg>
            </div>
            <ul tabindex="0" class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52">
              <li>
                <a class="font-semibold" href="{%url 'gallery:gallery-create' %}">
                  <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="12" y1="8" x2="12" y2="16"></line>
                    <line x1="8" y1="12" x2="16" y2="12"></line>
                  </svg>
                  <span class="ml-1">create</span>
                </a>
              </li>
              <li>
                <a class="font-semibold" href="{{object.get_update_url}}">
                  <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                    <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                  </svg>
                  <span class="ml-1">update</span>
                </a>
              </li>
              <li>
                <a class="text-red-300 font-semibold" data-target="gallery-delete-modal">
                  <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="12" y1="8" x2="12" y2="16"></line>
                    <line x1="8" y1="12" x2="16" y2="12"></line>
                  </svg>
                  <span class="ml-1">Delete</span>
                </a>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
        <!-- header user__actions -->
      </div>
      <div class="header__title mb-5">
        <h3 class="pb-1 font-bold"><i class="fas fa-user-circle mr-1"></i>{{object.user}}</h3>
        <div class="gallery-title flex items-center text-lg md:text-2xl">
          <h4 class="pb-1 "><b>{{gallery}}</b></h4>
          <span class="divider font-bold mx-1 my-auto" style="height:35px;">&#8211;</span>
          <h5><span class="badge badge-lg rounded-md {{object.category.label}} py-4 px-6">{{object.category.get_name_display|title}}</span></h5>
        </div>
        <div class="status p-1">
          <h5 class="text-gray-500 font-semibold">
            <span class="mr-2">
              Status:
            </span>
            {% if object.public %}
            <span class="text-green-500">Public</span>
            {% else %}
            <span class="text-red-500">Private</span>
            {% endif %}
            <div class="tooltip tooltip-top cursor-pointer" data-tip="Whether a gallery can be viewed by the public.">
              <i class="fa fa-info-circle"></i>
            </div>
          </h5>
        </div>
      </div>
    </div>
    <!-- end header -->

    <!-- Photo Collections -->
    <div id="photo-collection">
      <div class="row">
        <ul id="gallery-photo-collections" class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-4">
          {% for photo in object_list %}
          <li class="photo__card card bg-white border rounded-lg drop-shadow-lg p-1 pb-4 hover:shadow-xl" style="max-width:325px;">
            <!-- Photo Image-->
            <div class="card-img-top group">
              {% if cover_photo == photo %}
              <a class="card-link relative w-full" href="{{photo.get_absolute_url}}">
                <img class="w-full" src="{{photo.image.url}}" alt="{{photo.gallery.name}} {{photo}} photo" style="height:250px">
              </a>
              {% if is_user %}
              <div class="absolute top-2 left-0 w-full z-40 transition-all text-right group-hover:opacity-0">
                <div class="action-box w-full mt-1">
                  <div class="px-3">
                    <div>
                      <div class="btn-badge btn btn-sm rounded-md  bg-opacity-80 border-green-400 bg-green-400 text-white shadow-md hover:bg-green-500 hover:border-green-500 ">
                        <div class="relative bg-white ring-1 border-3 border-green-400 ring-green-400 rounded-full w-5 h-5 shadow-lg mr-1">
                          <span class="check absolute top-0 left-0">
                            <svg viewBox="0 0 24 24" class="text-green-400" width="20" height="20" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <polyline points="20 6 9 17 4 12"></polyline>
                            </svg>
                          </span>
                        </div>
                        <span>Cover</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              {% elif cover_photo != photo %}
              <a class="card-link relative" href="{{photo.get_absolute_url}}">
                <img class="w-full" src="{{photo.image.url}}" alt="{{photo.gallery.name}} {{photo}} photo" style="height:250px">
              </a>
              {% if is_user %}
              <div class="absolute opacity-0 top-2 left-0 w-full z-40 transition-all text-right group-hover:opacity-100">
                <div class="action-box w-full mt-1">
                  <div class="px-3">
                    <div class="bg-black bg-opacity-30 font-semibold p-1 rounded-sm">
                      <span class="text-gray-100">
                        set as gallery cover
                      </span>
                      <div class="relative inline-block w-10 ml-2 align-middle select-none">
                        <input type="checkbox" name="cover-switch" id="cover_toggler_{{forloop.counter}}"
                          class="checked:bg-green-500 outline-none focus:outline-none right-4 checked:right-0 duration-200 ease-in absolute block w-6 h-6 rounded-full bg-white border-2 appearance-none cursor-pointer">
                        <input type="hidden" name="photo" data-photo="{{photo.get_update_url}}">
                        <label for="cover_toggler_{{forloop.counter}}" class="block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer">
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endif %}
            </div>
            <!-- -->
            <!-- Photo Details -->
            <div class="card-body w-full mh-1/4 p-1">
              <h4 class="photo__title py-1 mb-4 text-center text-ellipsis text-sm sm:text-base font-semibold font-serif">
                {{photo.title}}</h4>
              <div class="content-wrapper flex place-content-between  flex-wrap sm:space-x-1 ">
                <small class="detail__date w-50 sm:flex-1 sm:text-left">
                  <i class="fa fa-clock mr-1"></i>
                  {{photo.created|date:"M d, Y"}}
                </small>
                <small class="detail__user text-ellipsis nowrap sm:text-right sm:flex-1" style="max-width:calc(100% / 2);">
                  <i class="fa fa-user mr-1"></i>
                  <span class="text-truncated">{{gallery.user}}</span>
                </small>
              </div>
            </div>
            <!-- -->

            {# Photo share Modal #}
            {% include 'gallery/snippets/social-share.html' with photo=photo %}
            {#  #}

            <!-- card footer -->
            <div class="card-footer box w-full pt-2">
              <!-- photo details  -->
              <div class="photo-details wrapper flex place-content-between w-full">
                <ul class="detail-info box--left flex  flex-col space-y-1">
                  <li class="text-sm text-gray-600">
                    <span class="font-medium">views:</span>
                    <span class="font-light ml-1">{{photo.views}}</span>
                  </li>
                  <li class="text-sm text-gray-600">
                    <span class="font-medium">download:</span>
                    <span class="font-light ml-1">coming soon!</span>
                  </li>
                </ul>
                <!-- footer action buttons -->
                <ul class="action-box box--right flex align-items-center space-x-2">
                  {% if is_user %}
                  <!-- trash button-->
                  <li class="group h-10 w-12">
                    <a class="flex place-content-center  bg-gray-50  border rounded-md hover:bg-white hover:border-gray-200 h-full w-full" href="{% url 'gallery:photo-delete' photo.pk %}">
                      <svg class="place-self-center" viewBox="0 0 24 24" width="18" height="18" stroke="#767676" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                        <polyline points="3 6 5 6 21 6"></polyline>
                        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                        <line x1="10" y1="11" x2="10" y2="17"></line>
                        <line x1="14" y1="11" x2="14" y2="17"></line>
                      </svg>
                    </a>
                  </li>
                  {% else %}
                  <!-- heart  button-->
                  <li class="group h-10 w-12">
                    <a id="heart_btn_{{forloop.counter}}" class="share_popup flex place-content-center  bg-gray-50  border rounded-md hover:bg-white hover:border-gray-200 h-full w-full" href="javascript:void(0);">
                      <svg class="css-i6dzq1 my-auto" viewBox="0 0 24 28" width="18" height="18" stroke="#767676" stroke-width="1" fill="#767676" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                      </svg>
                    </a>
                  </li>
                  {% endif %}
                  <!-- share button-->
                  <li class="group h-10 w-12">
                    <a id="share_btn_{{forloop.counter}}" class="share_popup flex place-content-center  bg-gray-50  border rounded-md hover:bg-white hover:border-gray-200 h-full w-full" href="javascript:void(0);">
                      <svg class="css-i6dzq1 my-auto" viewBox="0 0 24 24" width="18" height="18" stroke="#767676" stroke-width="1" fill="#767676" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="18" cy="5" r="3"></circle>
                        <circle cx="6" cy="12" r="3"></circle>
                        <circle cx="18" cy="19" r="3"></circle>
                        <line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line>
                        <line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line>
                      </svg>
                    </a>
                  </li>
                  <!-- download button-->
                  <li class="group h-10 w-12">
                    <a class="bg-white m-auto" href="javascript:void(0);">
                      <a id="download_btn_{{forloop.counter}}" class="share_popup flex place-content-center  bg-gray-50  border rounded-md hover:bg-white hover:border-gray-200 h-full w-full" href="javascript:void(0);">
                        <svg class="css-i6dzq1 my-auto" viewBox="0 0 24 24" width="20" height="18" stroke="#767676" stroke-width="1" fill="#767676" stroke-linecap="round" stroke-linejoin="round">
                          <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                          <polyline points="7 10 12 15 17 10"></polyline>
                          <line x1="12" y1="15" x2="12" y2="3"></line>
                        </svg>
                      </a>
                  </li>
                </ul>
              </div>
              <!-- -->
            </div>
            <!-- -->
          </li>
          {% endfor %}
        </ul>
        <script type="text/javascript">
          $(document).ready(() => {
            function getCookie(name) {
              let cookieValue = null;
              if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  if (cookie.substring(0, name.length + 1) === name + "=") {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                  }
                }
              }
              return cookieValue;
            }
            const cover_switch = $('input[name="cover-switch"]')
            $(cover_switch).on('change', function (e) {
              // stop anchor link event from firing when switch is toggled.
              e.stopPropagation()
              const cover = this;
              if (!this.checked) return;
              const photo_update_url = $(this).siblings('input[name="photo"]').data('photo');
              if (photo_update_url) {
                $.ajax({
                  type: "POST",
                  url: photo_update_url,
                  headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCookie("csrftoken"),
                  },
                  data: JSON.stringify({
                    cover: (cover.checked || false)
                  }),
                  success: function (response) {
                    if (response.status) {
                      location.reload(true);
                    }
                  }
                });
              }
            })
          })
        </script>
      </div>
      <!-- Pagination -->
      <div class="px-4 py-3 mt-10 flex items-center justify-between sm:px-6">
        <div class="flex-1 flex justify-between sm:hidden">
          {% if  page_obj.has_previous %}
          <a href="{{current_url}}?page={{page_obj.previous_page_number}}"
            class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
            Previous
          </a>
          {% else %}
          <span class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-gray-200 opacity-300">
            Previous
          </span>
          {% endif %}

          {% if  page_obj.has_next %}
          <a href="{{current_url}}?page={{page_obj.next_page_number}}"
            class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
            Next
          </a>
          {% else %}
          <span class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-gray-300 opacity-300">
            Next
          </span>
          {% endif %}
        </div>
        <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
          <div>
            <p class="text-sm text-gray-700">
              Showing
              <span class="font-semibold">{{page_obj.start_index}}</span>
              to
              <span class="font-semibold">{{page_obj.end_index}}</span>
              of
              <span class="font-semibold">{{page_obj.paginator.count}}</span>
              results
            </p>
          </div>
          <div>
            {% if is_paginated %}
            <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
              {% if page_obj.has_previous %}
              <a href="{{current_url}}?page=1" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                <span class="sr-only">Previous</span>
                <!-- Heroicon name: solid/chevron-left -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
              </a>
              {% else %}
              <span class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-gray-300 opacity-50 text-sm font-medium text-gray-500">
                <span class="sr-only">Previous</span>
                <!-- Heroicon name: solid/chevron-left -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
              </span>
              {% endif %}
              {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
              <!-- Current: "z-10 bg-indigo-50 border-indigo-500 text-indigo-600", Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->
              <a href="{{current_url}}?page={{num}}" aria-current="page" class="z-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium">
                {{num}}
              </a>
              {% else %}
              <a href="{{current_url}}?page={{num}}" class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium">
                {{num}}
              </a>
              {% endif %}
              {% endfor %}
              <!-- page next-->
              {% if  page_obj.has_next %}
              <a href="{{current_url}}?page={{page_obj.paginator.num_pages}}"
                class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50{% if not page_obj.has_next %} disabled:opacity-50{% endif %}">
                <span class="sr-only">Next</span>
                <!-- Heroicon name: solid/chevron-right -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
              </a>
              {% else %}
              <span class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-gray-300 opacity-50 text-sm font-medium text-gray-500 disabled">
                <span class="sr-only">Next</span>
                <!-- Heroicon name: solid/chevron-right -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
              </span>
              {% endif %}
            </nav>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- -->
    </div>
    <hr class="w-screen">
  </div>
</section>
<!-- -->
<section id="related_gallery" class="pt-8">
  <div class="container">

    <div class="header font-black">
      <h2 class="text-2xl md:text-4xl font-bold px-2">
        <span>Related Gallery</span>
        <span>&nbsp;&#9472;&nbsp;</span>
        <span class="text-gray-400"> {{gallery.category.get_name_display|title}}</span>
      </h2>
    </div>
    <div class="row wrapper">
      <!-- Gallery Card Collection -->
      {% include 'gallery/snippets/gallery_cards.html' with galleries=related_gallery %}
      <!-- End Gallery Collection -->
    </div>
  </div>
</section>


{% endblock content %}
