{% extends 'base.html' %}
{% load static gallery_extras social_share  widget_tweaks %}

{% block modal %}
{% include 'gallery/snippets/gallery_delete_modal.html' %}
{% endblock modal %}

{% block content %}
{% url 'gallery:gallery-detail' pk=object.pk as current_url %}
<section id="gallery-section" class="theme-ws clear top mx-2 py-2">
  <!-- Gallery Header-->
  <div class="container-lg mx-auto px-8 w-100">
    <div class="header py-2">
      <div class="header-top">
        <!-- header user__actions -->
        <div class="header__action flex-between items-center">
          <div class="share-cta flex md:text-2xl text-gray-400">
            <a href="#" class="border-2 border-gray-200 py-2 px-4  m-auto hover:text-red-600 mr-1">
              <i class="fa fa-heart"></i>
            </a>
            <a href="#" class="border-2 border-gray-200 py-1.5 px-4 m-auto hover:text-blue-300">
              <i class="text-xl md:text-3xl fa fa-share-square"></i>
            </a>
          </div>
          <!-- Actions -->
          <div class="gallery-action flex content-end">
            {% if request.user == gallery.user %}
            <div class="action__btn">
              <a class="btn btn-warning bg-yellow-400 border-yellow-400 text-black font-semi-bold hover:bg-yellow-300 hover:border-yellow-300  hover:text-gray-800 hover:shadow-md" href="{%url 'gallery:gallery-create' %}">
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                  <circle cx="12" cy="12" r="10"></circle>
                  <line x1="12" y1="8" x2="12" y2="16"></line>
                  <line x1="8" y1="12" x2="16" y2="12"></line>
                </svg>
                <span class="ml-1">create</span>
              </a>
              <a class="btn btn-primary font-semi-bold hover:bg-blue-800 hover:text-gray-100 hover:shadow-md" href="{{object.get_update_url}}">
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                  <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                  <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                </svg>
                <span class="ml-1">update</span>
              </a>
              <a class="btn btn-error bg-red-600 font-semibold hover:bg-red-500 hover:text-gray-100 hover:shadow-md" data-target="gallery-delete-modal">
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                  <circle cx="12" cy="12" r="10"></circle>
                  <line x1="12" y1="8" x2="12" y2="16"></line>
                  <line x1="8" y1="12" x2="16" y2="12"></line>
                </svg>
                <span class="ml-1">Delete</span>
              </a>
            </div>

            {% endif %}
          </div>
        </div>
        <!-- header user__actions -->
      </div>
      <div class="header__title">
        <h3 class="pb-1 my-2 font-bold"><i class="fas fa-user-circle mr-1"></i>{{object.user}}</h3>
        <div class="gallery-title flex items-center text-lg md:text-2xl">
          <h4 class="pb-1 "><b>{{gallery}}</b></h4>
          <span class="divider font-bold mx-1 my-auto" style="height:35px;">&#8211;</span>
          <h5><span class="badge badge-lg rounded-md hover:text-black  {{object.category.label}} py-4 px-6">{{object.category.get_name_display|title}}</span></h5>
        </div>
      </div>
    </div>
    <!-- -->
    <hr>
    <!-- Photo Collections -->
    <div id="photo-collection">
      <div class="container p-1 sm:p-6">
        <div class="row">
          <ul id="gallery-photo-collections" class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-2 sm:gap-3 lg:gap-4 h-100">
            {% for photo in object_list %}
            <li class="photo__card card bg-white border rounded-lg drop-shadow-lg p-1 pb-4 hover:shadow-xl">
              <!-- Photo Image-->
              <a class="card-img-top card-link relative" href="{{photo.get_absolute_url}}">
                <img class="w-full" src="{{photo.image.url}}" alt="{{photo.gallery.name}} {{photo}} photo">
                {% if is_user and cover_photo == photo %}
                <div class="absolute top-0 left-0 h-full w-full transition-all text-right hover:opacity-0">
                  <div class="action-box w-full mt-1">
                    <div class="px-3">
                      <div>
                        <div class="btn-badge btn btn-sm rounded-md bg-opacity-80 border-green-400 bg-green-400 text-white shadow-md hover:bg-green-500 hover:border-green-500 ">
                          <div class="badge badge-md relative bg-white ring-1 border-3 border-green-400 ring-green-400 shadow-lg mr-1">
                            <span class="check absolute top-0 left-0 ">
                              <svg viewBox="0 0 24 24" class="text-green-400" width="20" height="20" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                                <polyline points="20 6 9 17 4 12"></polyline>
                              </svg>
                            </span>
                          </div>
                          <span>Cover</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% elif is_user and cover_photo != photo %}
                <div class="absolute opacity-0 top-0 left-0 z-50 h-full w-full transition-all text-right hover:opacity-100">
                  <div class="action-box w-full mt-1">
                    <div class="px-3">
                      <div>
                        <span class="text-gray-100 font-semibold">
                          set as gallery cover
                        </span>
                        <div class="relative inline-block w-10 ml-2 align-middle select-none">
                          <input type="checkbox" name="cover-switch" id="cover_toggler_{{forloop.counter}}" class="checked:bg-green-500 outline-none focus:outline-none right-4 checked:right-0 duration-200 ease-in absolute block w-6 h-6 rounded-full bg-white border-2 appearance-none cursor-pointer">
                          <input type="hidden" name="photo" data-photo="{{photo.get_update_url}}">
                          <label for="cover_toggler_{{forloop.counter}}" class="block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer">
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </a>
              <!-- -->
              <!-- Photo Details -->
              <div class="card-body w-full mh-1/4 p-1">
                <h4 class="photo__title py-1 mb-4 text-center text-ellipsis text-sm sm:text-base font-semibold font-serif">{{photo.title}}</h4>
                <div class="content-wrapper flex flex-col sm:flex-row -between sm:space-x-1 ">
                  <small class="detail__date w-50 sm:flex-1 sm:text-left">
                    <i class="fa fa-clock mr-1"></i>
                    {{photo.created|date:"M d, Y"}}
                  </small>
                  <small class="detail__user text-ellipsis nowrap sm:text-right sm:flex-1" style="max-width:calc(100% / 2);">
                    <i class="fa fa-user mr-1"></i>
                    <span class="text-truncated">{{gallery.user}}</span>
                  </small>
                </div>
              </div>
              <!-- -->

              <!--Photo share-->
              <div class="share__hidden hidden row align-content-center">
                <div class="social-share py-2">
                  <div class="social-share__content bg-white shadow-sm">
                    <div class="share-grid grid grid-cols-12 gap-4 my-1 sm:p-1">
                      <div class="social-share__img-wrapper col-start-1 col-span-12 flex-center">
                        <img src="{{photo.image.url}}" class="social-share__img">
                      </div>
                      <div class="share-card col-start-1 col-span-12">
                        <div class="share-card__content py-2">
                          <h4 class="text-3xl font-semibold">{{photo}}</h4>
                          <p class="text-muted font-italic">created by: <i class="fa fa-user-circle mx-1"></i>{{photo.gallery.user}}</p>
                        </div>
                        <!-- Social media links-->
                        <div class="link col-start-6 col-span-6 my-4 border-2 border-grey-200 py-4">
                          <p class="text-center">Share it on your social media.</p>
                          <div class="share-card__link flex flex-row space-x-4 justify-center w-100 mt-2">
                            {% post_to_twitter 'Post your amazing photo using Photo-Share' photo.image.url '<i class="fa fa-twitter share__icon bg-blue-600"><p>Twitter</p></i>'%}
                            {% post_to_facebook photo.image.url '<i class="fa fa-facebook share__icon bg-blue-600"><p>Facebook</p></i>' %}
                            {% post_to_gplus photo.image.url '<i class="fab fa-google-plus-square share__icon bg-red-600"><p>Google &#43;</p></i>'%}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- -->
              <!-- card footer -->
              <div class="card-footer w-full">
                <!--Photo share action buttons -->
                <div class="action-box wrapper">
                  <ul class="action-box action--box-top share-action flex-between space-x-1 relative bottom-0 left-0">
                    {% if is_user %}
                    <li class="w-full">
                      <a class="cta cta--red cta--full-block" href="{% url 'gallery:photo-delete' photo.pk %}">
                        <i class="fas fa-trash"></i>
                      </a>
                    </li>
                    {% else %}
                    <li class="w-full">
                      <a class="cta cta--red cta--full-block" href="javascript:void();">
                        <i class="fas fa-heart"></i>
                      </a>
                    </li>
                    {% endif %}
                    <li class="w-full">
                      <a class="cta cta--blue cta--full-block share_popup" href="">
                        <i class="fas fa-share-alt"></i>
                      </a>
                    </li>
                    <li class="w-full">
                      <a class="cta cta--green cta--full-block" href="javascript:void();">
                        <i class="fas fa-cloud-download-alt"></i>
                      </a>
                    </li>
                  </ul>

                </div>
                <!-- -->
              </div>
              <!-- -->
            </li>
            {% endfor %}
          </ul>
          <script type="text/javascript">
            $(document).ready(() => {
              function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== "") {
                  const cookies = document.cookie.split(";");
                  for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === name + "=") {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                    }
                  }
                }
                return cookieValue;
              }
              const cover_switch = $('input[name="cover-switch"]')
              $(cover_switch).on('change', function (e) {
                // stop anchor link event from firing when switch is toggled.
                e.stopPropagation()
                const cover = this;
                if (!this.checked) return;
                const photo_update_url = $(this).siblings('input[name="photo"]').data('photo');
                if (photo_update_url) {
                  $.ajax({
                    type: "POST",
                    url: photo_update_url,
                    headers: {
                      "Content-Type": "application/json",
                      "X-CSRFToken": getCookie("csrftoken"),
                    },
                    data: JSON.stringify({
                      cover: (cover.checked || false)
                    }),
                    success: function (response) {
                      if (response.status) {
                        location.reload(true);
                      }
                    }
                  });

                }

              })

            })
          </script>
        </div>
      </div>
      <!-- Pagination -->
      <!-- This example requires Tailwind CSS v2.0+ -->
      <div class="px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
        <div class="flex-1 flex justify-between sm:hidden">

          {% if  page_obj.has_previous %}
          <a href="{{current_url}}?page={{page_obj.previous_page_number}}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
            Previous
          </a>
          {% else %}
          <span class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-gray-200 opacity-300">
            Previous
          </span>
          {% endif %}

          {% if  page_obj.has_next %}
          <a href="{{current_url}}?page={{page_obj.next_page_number}}" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
            Next
          </a>
          {% else %}
          <span class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-gray-300 opacity-300">
            Next
          </span>
          {% endif %}
        </div>
        <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
          <div>
            <p class="text-sm text-gray-700">
              Showing
              <span class="font-semibold">{{page_obj.start_index}}</span>
              to
              <span class="font-semibold">{{page_obj.end_index}}</span>
              of
              <span class="font-semibold">{{page_obj.paginator.count}}</span>
              results
            </p>
          </div>
          <div>
            {% if is_paginated %}
            <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
              {% if page_obj.has_previous %}
              <a href="{{current_url}}?page=1" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                <span class="sr-only">Previous</span>
                <!-- Heroicon name: solid/chevron-left -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
              </a>
              {% else %}
              <span class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-gray-300 opacity-50 text-sm font-medium text-gray-500">
                <span class="sr-only">Previous</span>
                <!-- Heroicon name: solid/chevron-left -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
              </span>
              {% endif %}
              {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
              <!-- Current: "z-10 bg-indigo-50 border-indigo-500 text-indigo-600", Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->
              <a href="{{current_url}}?page={{num}}" aria-current="page" class="z-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium">
                {{num}}
              </a>
              {% else %}
              <a href="{{current_url}}?page={{num}}" class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium">
                {{num}}
              </a>
              {% endif %}
              {% endfor %}
              <!-- page next-->
              {% if  page_obj.has_next %}
              <a href="{{current_url}}?page={{page_obj.paginator.num_pages}}" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50{% if not page_obj.has_next %} disabled:opacity-50{% endif %}">
                <span class="sr-only">Next</span>
                <!-- Heroicon name: solid/chevron-right -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
              </a>
              {% else %}
              <span class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-gray-300 opacity-50 text-sm font-medium text-gray-500 disabled">
                <span class="sr-only">Next</span>
                <!-- Heroicon name: solid/chevron-right -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
              </span>
              {% endif %}
            </nav>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- -->
    </div>
</section>
<!-- -->
<section id="related_gallery">
  <div class="container-lg mx-auto px-8 w-100">
    <div class="header mb-10">
      <div class="content-title font-black">
        <h2 class="fw-bold px-2  w-max">
          <span>Related Gallery</span>
          <span>&nbsp;&#9472;&nbsp;</span>
          <span class="text-gray-400"> {{gallery.category.get_name_display|title}}</span>
        </h2>
      </div>
    </div>
    <div class="row wrapper">
      <!-- Gallery Card Collection -->
      {% include 'gallery/snippets/gallery_cards.html' with galleries=related_gallery %}
      <!-- End Gallery Collection -->
    </div>
  </div>
</section>


{% endblock content %}
