{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<section class="content-section">
  <div class="album-form container">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="album-collection mb-2">
            <h3>
              <i class="far fa-images"></i>
              Current Albums
            </h3>
            <ul class="d-flex flex-row justify-items-center">
              {% for album in current_albums %}
              <li class="mx-2 text-center">
                <a href="{{album.get_absolute_url}}">
                  {{album.name}}
                  <div class="img__wrappe">
                    {% with album.get_images.0.image as album_image %}
                    {% if album_image %}
                    <img src="{{album_image.url}}" alt="{{album}} cover image" class="img__thumbnail">
                    {% else %}
                    <img src="{% get_media_prefix %}gallery/default_image.png" alt="{{album}} cover image" class="img__thumbnail">

                    {% endif %}
                    {% endwith %}
                  </div>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="col-12 col-md-9">
          <div class="card">
            <div class="card-body">
            
              <form action="" method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                {{ formset.management_form }}
                <fieldset class="form-group">
                  <legend class="border-bottom mb-4">
                    <i class="far fa-images"></i>
                    {{form_title}}
                  </legend>
                  {{ form|crispy }}
                  <div class="image-upload">
                    <div class="row">
                      {% for gallery_form in formset %}
                        <div class="col-4">
                          {{ gallery_form|crispy }}
                        </div>
                       {% endfor %}
                    </div>

                    <script type='text/javascript'>
                     window.onload =()=>{
                      $('.image-upload__media').map(function(){
                          const input = $(this).find('input')[0];
                          const label = $(this).find('p')[0]
                        
                          $(input).on('change', function(){
                          try{
                          const filename = input.files[0]['name'];
                          label.innerText = filename;
                          }catch(e){
                              console.log('Error',e);
                          }})
                      })
                     }
                  </script>
                  </div>
                </fieldset>
                <div class="form-group">
                  <button class="btn btn-outline-info" type="submit">Add</button>
                  <a class="btn btn-outline-danger" href="{% url 'core:index' %}">Cancel</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}