{% extends 'core/base.html' %}
{% load static %}

{% block body %}
<section id="album" class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="ablum-container">
            <div class="album-wrap">
              {# Only show album if it's public or it belongs to current user#}
              {% if request.user == album.user or album.public %}
              <h4>{{album.name}}'s album</h4>
                <ul class="row">
                {% for image in album_images %}
                <li class="col-3">
                  <p>{{image.title}}</p>
                  <img loading="lazy" src="{{image.image.url}}" alt="" class="img-thumbnail">
                  <small class="text-muted">uploaded:<span class="ml-1">{{image.created|date:"b d, Y"|title}}</span></small>
                </li>  
                {% endfor %}
                </ul>
              {% else %}
              <h1 class="text-center"> This Album is Private</h1>
              <a href="{% url 'core:index' %}" class="btn btn-outline-info">Home</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock body %}