{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<section class="main-container">
  <!-- Album-->
  <div class="album col-wrapper px-1">
    <!-- Album Header -->
    <div class="album__header">
      <h3 class="content-title">
        <i class="far fa-images"></i>
        Album Collections
      </h3>
      <hr>
      <ul id="album-collection" class="d-flex flex-row">
        {% for album in user_albums %}
        <li class="mx-2 text-center">
          <div class="card shadow">
            <div class="card-body p-1">
              <div class="card-title border-bottom">
                <p class="text-ellipsis my-1">{{album.name}}</p>
              </div>
              <a href="{{album.get_absolute_url}}">
                <div class="img__wrapper">
                  {% with album.get_images.0.image as album_image %}
                  {% if album_image %}
                  <img src="{{album_image.url}}" alt="{{album}} cover image" class="img__sm img-fluid">
                  {% else %}
                  <img src="{% get_media_prefix %}gallery/default_image.png" alt="{{album}} cover image" class="img__thumbnail">

                  {% endif %}
                  {% endwith %}
                </div>
              </a>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <!-- /Album Header -->

    <!-- Album Content Form -->
    <div class="album__content album__form">
      <div class="card">
        <div class="card-body">
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formset.management_form }}
            <!-- Album Form -->
            <fieldset class="form-group">
              <legend class="title border-bottom mb-4">
                <i class="far fa-images"></i>
                {% if crud_type == 'update' %}
                Update Album
                {% else %}
                Create New Album
                {% endif %}
              </legend>
              <div class="form-group">
                {{ form|crispy }}
              </div>
              <!-- /Album Form -->

              <!-- Gallery Form -->
              <div class="image-upload row">
                {% for gallery_form in formset %}
                <div class="col-9 col-sm-4 mb-2">
                  <div class="card">
                    <div class="card-body">
                      {{gallery_form.title}}
                      {{gallery_form.image.label|safe}}
                      {{gallery_form.image}}
                      {% if gallery_form.errors %}
                      <ul class="errorlist bg-danger text-dark">
                        {% if gallery_form.non_field_errors %}
                        <li>{{ gallery_form.non_field_errors }}</li>
                        {% endif %}
                        {% for field in gallery_form %}
                        {% if field.errors %}
                        <li>
                          {{ field.label }}
                          <ul class="errorlist">
                            {% for error in field.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                        </li>
                        {% endif %}
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </fieldset>
            <div class="form-group">
              {% if crud_type == 'update' %}
              <button class="btn btn-outline-warning" type="submit">Update</button>
              {% else %}
              <button class="btn btn-outline-info" type="submit">Add</button>
              {% endif %}
              <a class="btn btn-outline-danger" href="{% url 'core:index' %}">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--/Album Content Form -->
  </div>
  <!-- End Album-->
</section>
{% endblock body %}