{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<section class="main-container mx-2">
  <!-- gallery-->
  <div class="gallery col-wrapper px-1">
    <!-- gallery Header -->
    <div class="album__header">
      <h3 class="content-title">
        <i class="far fa-images"></i>
        Gallery Collections
      </h3>
      <hr>
    </div>
    <!-- /gallery Header -->

    <!-- gallery Content Form -->
    <div class="album__content album__form ">
      <div class="card px-2">
        <div class="card-body">
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formset.management_form }}
            <!-- gallery Form -->
            <fieldset class="form-group">
              <legend class="title border-bottom mb-4">
                <i class="far fa-images"></i>
                {% if form.instance.id %}
                Update gallery
                {% else %}
                Create New gallery
                {% endif %}
              </legend>
              <div class="form-group">
                {{ form|crispy }}
              </div>
              <!-- /gallery Form -->

              <!-- Photo Form -->
              <div class="image-upload row">
                {% for gallery_form in formset %}
                <div class="col-9 col-sm-4 mb-2">
                  <div class="card">
                    <div class="card-body">
                      {{gallery_form.title}}
                        {% if gallery_form.title.errors %}
                        <ul class="title-errors alert-danger">
                          {{gallery_form.title.errors|unordered_list}}
                        </ul>
                        {% endif %}
                      {{gallery_form.image.label|safe}}
                      {{gallery_form.image}}
                      {% if gallery_form.image.errors %}
                        <ul class="image-errors alert-danger ">
                          {{gallery_form.image.errors|unordered_list}}
                        </ul>
                        {% endif %}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </fieldset>
            <div class="form-group">
              {% if form.instance.id %}
              <button class="btn btn-outline-warning" type="submit">Update</button>
              {% else %}
              <button class="btn btn-outline-info" type="submit">Add</button>
              {% endif %}
              <a class="btn btn-outline-danger" href="{% url 'core:index' %}">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--/gallery Content Form -->
  </div>
  <!-- End gallery-->
</section>
{% endblock body %}