{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<section class="main-container">
  <!-- gallery-->
  <div class="gallery col-wrapper px-1">
    <!-- gallery Header -->
    <div class="album__header">
      <h3 class="content-title">
        <i class="far fa-images"></i>
        Gallery Collections
      </h3>
      <hr>
    </div>
    <!-- /gallery Header -->

    <!-- gallery Content Form -->
    <div class="album__content album__form">
      <div class="card">
        <div class="card-body">
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formset.management_form }}
            <!-- gallery Form -->
            <fieldset class="form-group">
              <legend class="title border-bottom mb-4">
                <i class="far fa-images"></i>
                {% if form.instance.id %}
                Update gallery
                {% else %}
                Create New gallery
                {% endif %}
              </legend>
              <div class="form-group">
                {{ form|crispy }}
              </div>
              <!-- /gallery Form -->

              <!-- Photo Form -->
              <div class="image-upload row">
                {% for gallery_form in formset %}
                <div class="col-9 col-sm-4 mb-2">
                  <div class="card">
                    <div class="card-body">
                      {{gallery_form.title}}
                      {{gallery_form.image.label|safe}}
                      {{gallery_form.image}}
                      {% if gallery_form.errors %}
                      <ul class="errorlist bg-danger text-light">
                        {% if gallery_form.non_field_errors %}
                        <li>{{ gallery_form.non_field_errors }}</li>
                        {% endif %}
                        {% for field in gallery_form %}
                        {% if field.errors %}
                        <li>
                          <ul class="errorlist">
                            {% for error in field.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                        </li>
                        {% endif %}
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </fieldset>
            <div class="form-group">
              {% if form.instance.id %}
              <button class="btn btn-outline-warning" type="submit">Update</button>
              {% else %}
              <button class="btn btn-outline-info" type="submit">Add</button>
              {% endif %}
              <a class="btn btn-outline-danger" href="{% url 'core:index' %}">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--/gallery Content Form -->
  </div>
  <!-- End gallery-->
</section>
{% endblock body %}