{% extends 'core/base.html' %}
{% load static %}
{% load core_extras %}
{% load social_share %}


{% block body %}
<section id="gallery-section" class="theme-ws clear top mx-2 pb-2">
  <!-- Gallery Header-->
  <div class="header p-6 space-y-6">
    <div class="header__title flex-between">
      <div class="header__content header__content--left">
        <h4 class="pb-1 text-2xl"><b>{{gallery}}</b></h4>
        <p class="pb-1">
          <i class="fas fa-user-circle"></i>
          {{gallery.user}}
        </p>
      </div>
      <div class="header__content header__content--right">
        <div class="header__action text-xl text-gray-400">
          <a href="#" class="border-2 border-gray-200 p-2 px-4 hover:text-red-600">
            <i class="fa fa-heart"></i>
          </a>
          <a href="#" class="border-2 border-gray-200 p-2 px-4 hover:text-blue-300">
            <i class="fa fa-share-square"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- header user__actions -->
    <div class="user__action flex-between mt-2 w-100">
      <h4><span class="badge rounded-full py-2 px-4 hover:text-black hover: {{gallery.category.get_label_display}}">{{gallery.category.get_name_display|title}}</span></h4>
      {% if request.user == gallery.user %}
      <div class=action__btn>
        <a href="{% url 'core:gallery-update' gallery.user.username|slugify gallery.slug %}" class="cta cta--outline-blue badge">update
          <span class="hidden sm:inline-block">gallery </span>
        </a>
        <span class="spacer mx-1"> </span>
        <a href="{% url 'core:gallery-delete' gallery.user.username|slugify gallery.slug %}" class="cta cta--outline-red badge">delete
          <span class="hidden sm:inline-block">gallery </span>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  <!-- -->
  <hr>

  <!-- Photo Collections -->
  <div id="photo-collection" class="px-1 sm:px-2">
    <div class="container p-1 sm:p-6">
      <div class="row wrapper">
        <ul id="gallery-photo-collections" class="photo grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-2 sm:gap-3 lg:gap-4">
          {% for photo in photo_set %}
          <li class="photo__card py-1 shadow-lg hover:shadow-2xl">
            <h4 class="photo__title py-1 text-center text-ellipsis text-sm sm:text-base font-semibold font-serif">{{photo.title}}</h4>
            <!-- Photo Image-->
            <div class="photo__image">
              <a href="{{photo.image.url}}">
                <img class="img-fluid" src="{{photo.image.url}}" alt="{{photo.gallery}} {{photo}} photo">
              </a>
            </div>
            <!-- -->
            <!-- Photo Details -->
            <div class="detail flex flex-col sm:flex-row -between sm:space-x-1 w-100 p-1">
              <small class="detail__date w-50 sm:flex-1 sm:text-left">
                <i class="fa fa-clock mr-1"></i>
                {{photo.created|date:"M d, Y"}}
              </small>
              <small class="detail__user text-ellipsis nowrap sm:text-right sm:flex-1" style="max-width:calc(100% / 2);">
                <i class="fa fa-user mr-1"></i>
                <span class="text-truncated">{{gallery.user}}</span>
              </small>
            </div>
            <!-- -->
            <!--Photo share-->
            <div class="share__hidden hidden row align-content-center">
              <div class="social-share py-2">
                <div class="social-share__content bg-white shadow-lg">
                  <div class="share-grid grid grid-cols-12 gap-4 my-1 sm:p-1">
                    <div class="social-share__img-wrapper col-start-1 col-span-12 flex-center">
                      <img src="{{photo.image.url}}" class="social-share__img">
                    </div>
                    <div class="share-card col-start-1 col-span-12">
                      <div class="share-card__content py-2">
                        <h4 class="text-3xl font-semibold">{{photo}}</h4>
                        <p class="text-muted font-italic">created by: <i class="fa fa-user-circle mx-1"></i>{{photo.gallery.user}}</p>
                      </div>
                      <!-- Social media links-->
                      <div class="link col-start-6 col-span-6 my-4 border-2 border-grey-200 py-4">
                        <p class="text-center">Share it on your social media.</p>
                        <div class="share-card__link flex flex-row space-x-4 justify-center w-100 mt-2">
                          {% post_to_twitter 'Post your amazing photo using Photo-Share' photo.image.url '<i class="fa fa-twitter share__icon bg-blue-600"><p>Twitter</p></i>'%}
                          {% post_to_facebook photo.image.url '<i class="fa fa-facebook share__icon bg-blue-600"><p>Facebook</p></i>' %}
                          {% post_to_gplus photo.image.url '<i class="fab fa-google-plus-square share__icon bg-red-600"><p>Google &#43;</p></i>'%}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- -->
            <!--Photo share action-->
            <div class="clear-both"></div>
            <div class="share-action flex-between space-x-1 relative bottom-0 left-0">
              {% if request.user.is_authenticated and request.user == gallery.user %}
              <a class="cta cta--red cta--full-block" href="{% url 'core:photo-delete' photo.pk %}">
                <i class="fas fa-trash"></i>
              </a>
              {% else %}
              <a class="cta cta--red cta--full-block" href="#">
                <i class="fas fa-heart"></i>
              </a>
              {% endif %}

              <a class="cta cta--blue cta--full-block share_popup" href="#">
                <i class="fas fa-share-alt"></i>
              </a>
              <a class="cta cta--green cta--full-block" href="#">
                <i class="fas fa-cloud-download-alt"></i>
              </a>
            </div>
            <!-- -->
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <!-- -->

  <section id="related_gallery" class="mt-14">
    <div class="container p-1 sm:p-6">
      <div class="row">
        <h5 class="fw-bold pb-3 text-2xl border-b-2 border-gray-300">Related Gallery</h5>
        <ul class="gallery grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-2 sm:gap-3 lg:gap-4 mt-4">
          {% for related in related_gallery %}
          <li class="gallery__card shadow">
            <div class="gallery__content pos-relative">
              <div class="gallery__image image">
                {% with related.photo_set.first as cover %}
                {% if cover %}
                <img class="img-fluid" src="{{cover.image.url}}" alt="{{gallery}} {{cover}} photo">
                {% else %}
                <img class="img-fluid" src="{{gallery.default_cover}}" alt="{{gallery}} {{cover}} photo">
                {% endif %}
                {% endwith %}
              </div>
              <!-- Gallery Overlay -->
              <div class="image-overlay overlay overlay--bgdark overlay--hovershow text-white">
                <div id="index-grid-overlay" class="overlay__content grid grid-flow-rows h-100 p-2">
                  <div class="flex-evenly flex-wrap text-xs sm:text-base mx-1 overflow-hidden">
                    <a class="text-ellipsis" href="{{related.get_absolute_url}}"><b>{{related}}</b></a>
                    <h6 class="mt-1"><span class="badge rounded-full {{related.category.get_label_display}} p-1">{{related.category.get_name_display}}</span></h6>
                  </div>
                  <div class="flex-center text-xs sm:text-base mx-1 overflow-hidden">
                    <a class="text-shadow p-3" href="{{related.get_absolute_url}}"><b>view gallery</b></a>
                  </div>
                  <div class="flex-evenly flex-wrap text-xs sm:text-base mx-1 overflow-hidden">
                    <p class="">{{related.photo_set.count}}
                      <i class="fas fa-images"></i>
                    </p>
                    <p class="font-italic text-ellipsis"><i class="fa fa-user-circle user__icon mr-1"></i>{{related.user.username}} </p>
                  </div>
                </div>
              </div>
              <!-- Gallery Overlay -->
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
</section>


{% endblock body %}
