{% extends 'core/base.html' %}
{% load static %}

{% block body %}
<section id="index-main" class="spacing-top">
  <div class="main-content-container container my-2">
    <h3 class="content-title">
      <span>PhotoShare Alb</span>
      <i class="icon-logo far fa-images"></i>
      <span class=>ms</span>
    </h3>
    <hr>
    <div class="row">
      {% for gallery in galleries %}
      {# Only show gallery if it's public or it belongs to current user#}
      <div class="col-6 col-sm-4">
        <div class="card shadow h-100">
          <div class="card-header p-2">
            <p>
              {# change this into an anchor tag for profile #}
              <span class="badge bg-info badge-link"> <a href="{{gallery.get_absolute_url}}">{{gallery}}</a> </span>
              <span class="mx-1">-</span>
              <small class="font-italic text__secondary"><i class="fa fa-user icons mr-1"></i>{{gallery.user.username}} </small>
            </p>
          </div>
          <div class="card__content card-body">
            {% for image in gallery.photo_set.all %}
              {% if forloop.counter <= 4 %}
              <a href="{{image.image.url}}">
                <img class="img__thumbnail" src="{{image.image.url}}" alt="{{gallery}} {{image}} photo">
              </a>
              {% endif %}
              {% empty %}
               <p class="text__secondary my-3 py-1">No images available</p>
            {% endfor %}
            <div class="card__footer mt-2">
              <a class="btn btn-outline-warning btn-block" href="{{gallery.get_absolute_url}}">view gallery</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock body %}