{% extends 'core/base.html' %}
{% load static %}
{% load core_extras %}
{% load social_share %}


{% block body %}
<tr id="gallery-section" class="theme-ws clear top mx-2 pb-2">
  <div class="container p-1 sm:p-6">
    <div class="row-wrapper grid grid-cols-12 gap-4 my-1 sm:p-1">
      <div id="photo-detail" class="wrapper px-1 sm:px-2 col-start-1 col-span-12 sm:col-span-6">
        <!-- Photo Card Details -->
        <div class="photo__card p-1 bg-white shadow-lg hover:shadow-2xl">
          <h4 class="photo__title py-1 text-center text-ellipsis text-sm sm:text-base font-semibold font-serif">{{photo.title}}</h4>
          <!-- Photo Image-->
          <div class="img-wrapper">
            <a href="{{photo.image.url}}">
              <img class="img-ful" src="{{photo.image.url}}" alt="{{photo.gallery}} {{photo}} photo">
            </a>
          </div>
          <!-- -->
          <!-- Photo card spec -->
          <div class="detail flex flex-col sm:flex-row sm:space-x-1 w-100 p-1">
            <small class="detail__date w-50 sm:flex-1 sm:text-left">
              <i class="fa fa-clock mr-1"></i>
              {{photo.created|date:"M d, Y"}}
            </small>
            <small class="detail__user text-ellipsis nowrap sm:text-right sm:flex-1" style="max-width:calc(100% / 2);">
              <i class="fa fa-user mr-1"></i>
              <span class="text-truncated">{{photo.gallery.user}}</span>
            </small>
          </div>
          <!-- -->
          <!--Photo actions-->
          <div class="clear-both"></div>
          <div class="share-action flex-between space-x-1 relative bottom-0 left-0">
            {% if request.user.is_authenticated and request.user == photo.gallery.user %}
            <a class="cta cta--red cta--full-block" href="{% url 'core:photo-delete' photo.pk %}">
              <i class="fas fa-trash"></i>
            </a>
            {% else %}
            <a class="cta cta--red cta--full-block" href="#">
              <i class="fas fa-heart"></i>
            </a>
            {% endif %}
            <a class="cta cta--blue cta--full-block share_popup" href="#">
              <i class="fas fa-share-alt"></i>
            </a>
            <a id="photo-download" class="cta cta--green cta--full-block" href="#">
              <i class="fas fa-cloud-download-alt"></i>
            </a>
          </div>
          <!-- -->
        </div>
      </div>
      <!-- -->

      <!--Photo Specs-->
      <div id="photo_specs" class="col-start-1 sm:col-start-7 col-span-12 mt-8 sm:mt-0">
        <div class="photo-spec">
          <h2 class="text-center font-semibold text-2xl border-b-2 border-blue-200 py-2">Specification</h2>
          <table class="table w-full">
            <thead>
              <tr class="text-left">
                <th class="w-1/2">name</th>
                <th class="w-1/2">info</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-left">
                <td>Image type</td>
                <td>{{photo.mime_type}}</td>
              </tr>
              <tr>
                <td>Dimension</td>
                <td>{{photo.dimension}}</td>
              </tr>
              <tr>
                <td>Published</td>
                <td> {{photo.created|date:"M d, Y"}}</td>
              </tr>
              <tr>
                <td>Updated</td>
                <td>{{photo.updated|date:"M d, Y"}}</td>
              </tr>
              <tr>
                <td>Views</td>
                <td>{{photo.views}}</td>
              </tr>
              <tr><td>Downloads</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</di>

{% endblock body %}
