{% extends 'core/base.html' %}
{% load static %}



<section id="testing" class="pl-10 my-3 bg-blue-1">

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quasi ipsa provident cum reiciendis consectetur quia eligendi eius necessitatibus adipisci, dolores itaque facere nostrum ex et inventore sunt! Ad, quos.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quasi ipsa provident cum reiciendis consectetur quia eligendi eius necessitatibus adipisci, dolores itaque facere nostrum ex et inventore sunt! Ad, quos.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quasi ipsa provident cum reiciendis consectetur quia eligendi eius necessitatibus adipisci, dolores itaque facere nostrum ex et inventore sunt! Ad, quos.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quasi ipsa provident cum reiciendis consectetur quia eligendi eius necessitatibus adipisci, dolores itaque facere nostrum ex et inventore sunt! Ad, quos.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quasi ipsa provident cum reiciendis consectetur quia eligendi eius necessitatibus adipisci, dolores itaque facere nostrum ex et inventore sunt! Ad, quos.</p>
<a role="button" href="" class="my-2 p-2 bg-gradient-to-r from-green-400 to-blue-500">Action</a>
</section>
 <nav> <!-- navbar content here  --> 
 <div class="container">
<div class="row">
    <div class="col s12 m9 l10">
      <div id="introduction" class="section scrollspy">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui id omnis libero obcaecati, distinctio, ab illo aperiam similique voluptatum ex adipisci maiores! Tempore, nihil. Assumenda sed minus at reprehenderit vitae? </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure alias dignissimos culpa ratione debitis placeat omnis, incidunt ut amet earum quos tempore nesciunt deserunt qui saepe exercitationem at iusto sunt! </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure alias dignissimos culpa ratione debitis placeat omnis, incidunt ut amet earum quos tempore nesciunt deserunt qui saepe exercitationem at iusto sunt! </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure alias dignissimos culpa ratione debitis placeat omnis, incidunt ut amet earum quos tempore nesciunt deserunt qui saepe exercitationem at iusto sunt! </p>
      </div>

      <div id="structure" class="section scrollspy">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure alias dignissimos culpa ratione debitis placeat omnis, incidunt ut amet earum quos tempore nesciunt deserunt qui saepe exercitationem at iusto sunt! </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure alias dignissimos culpa ratione debitis placeat omnis, incidunt ut amet earum quos tempore nesciunt deserunt qui saepe exercitationem at iusto sunt! </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure alias dignissimos culpa ratione debitis placeat omnis, incidunt ut amet earum quos tempore nesciunt deserunt qui saepe exercitationem at iusto sunt! </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure alias dignissimos culpa ratione debitis placeat omnis, incidunt ut amet earum quos tempore nesciunt deserunt qui saepe exercitationem at iusto sunt! </p>
      </div>

      <div id="initialization" class="section scrollspy">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur sapiente, sit eum deleniti quisquam ipsum deserunt autem magni? Distinctio magni maiores odit ducimus provident commodi dolorum modi officiis nemo porro! </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure alias dignissimos culpa ratione debitis placeat omnis, incidunt ut amet earum quos tempore nesciunt deserunt qui saepe exercitationem at iusto sunt! </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure alias dignissimos culpa ratione debitis placeat omnis, incidunt ut amet earum quos tempore nesciunt deserunt qui saepe exercitationem at iusto sunt! </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure alias dignissimos culpa ratione debitis placeat omnis, incidunt ut amet earum quos tempore nesciunt deserunt qui saepe exercitationem at iusto sunt! </p>
      </div>
    </div>
    <div class="col hide-on-small-only m3 l2">
      <ul class="section table-of-contents">
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#structure">Structure</a></li>
        <li><a href="#initialization">Intialization</a></li>
      </ul>
    </div>
  </div>
</div>
 </nav>

  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="{{photo.0.image.url}}">
      </div>
      <a href="#user"><img class="circle" src="{{photo.1.image.url}}"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="button blue p3 sidenav-trigger"><i class="material-icons">menu</i></a>
        




  