*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary: #64707d;
  --text-primary: #32343c;
  --text-secondary: #9c9fab;
  --text-accent: #ff6e0a;
  --color-primary: rgb(37, 39, 51);
  --color-primary-lt: rgba(37, 39, 51, 0.4);
  --color-primary-dk: rgba(37, 39, 51, 0.9);
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Base Css */
ul {
  padding: 0;
}

li {
  list-style: none;
}

a,
button,
li,
.badge {
  cursor: pointer !important;
  transition: 0.3s ease-in-out;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

img {
  cursor: pointer;
}

.col-wrapper {
  display: block;
  height: 100%;
  padding: 10px 15px;
  margin-left: 5px;
  margin-right: 5px;
}

main#main {
  min-height: 90vh;
  overflow: hidden;
}

section.spacing-top {
  padding-top: 50px;
}

.card-body {
  padding: 2px;
}

.text-middle {
  vertical-align: middle;
}
/* Base Css End */

/* Navigation */
#main-nav {
  z-index: 500;
}
.navbar-nav span {
  vertical-align: middle !important;
  align-content: center;
  height: 100%;
}

#main-nav .navbar a {
  color: var(--text-secondary);
}

#main-nav.navbar a:hover {
  color: var(--text-primary);
}

.navbar-brand span {
  font-weight: 550;
}

/* Navigation End */

/* Typography & Icon */
.text__sm {
  font-size: 14px;
}

.text__lg {
  font-size: 26px;
  font-weight: 500;
}

.text__secondary {
  color: var(--text-secondary);
}

.text__accent {
  color: var(--text-accent);
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.fw-bold {
  font-weight: 600;
}

.fw-med {
  font-weight: 450;
}

.fw-light {
  font-weight: 300;
}

.badge-link {
  padding: 5px;
}

.badge-link__text {
  color: #fff !important;
  font-weight: 600;
}

.icons {
  font-size: 1.125rem;
  color: var(--text-secondary);
}

.icon-badge {
  padding: 3px 7px;
}

.icon-logo,
.icon-logo::before,
.icon-icon::after {
  margin: 0 -3.225px;
}

.lg-title {
  font-size: 2.6rem;
  margin-bottom: 0;
}

#title {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.content-title {
  font-weight: 700;
}

.subtitle {
  font-size: 1.2rem;
  margin-top: 15px;
}

/* Typography & Icon End */

/* Images */
.img__upload-wrapper {
  display: block;
  background: whitesmoke;
  margin-top: 5px;
  padding: 4px 7px 4px 12px;
  margin: 5px auto;
  border-radius: 7px;
  max-width: 150px;
  max-height: 125px;
}

.img__md {
  max-height: 200px;
  height: 175px;
  width: 100%;
}

.img__sm {
  max-height: 75px;
  min-height: 75px;
  width: 100%;
}

.img__upload-label {
  text-align: center;
  font-weight: 500;
}

.img__items {
  margin: 0 5px;
  transition: 0.3s ease-in-out;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.img__items:hover {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
}

.img-label__custom {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.img__thumbnail {
  max-width: 75px;
  max-height: 75px;
}

/* Images  End*/

#site-main {
  position: relative;
  z-index: 200;
  margin-left: 80px;
  padding-left: 5px;
  transition: 0.3s ease-in-out;
}

/* Aside  SideBar */

#gallery-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 400;
  padding-top: 8px;
  background: var(--color-primary-dk);
  color: var(--text-secondary);
  min-height: 100vh;
  height: 100%;
  width: 240px;
  transition: 0.3s ease-in-out;
}

#mobile_slider:checked ~ div #gallery-sidebar {
  position: absolute;
  top: 0;
  left: -160px;
  background: var(--color-primary);
}
#mobile_slider:checked ~ div .col-wrapper {
  display: block;
  height: 100%;
  width: 100%;
}
#mobile_slider:checked ~ .mobile-slider-wrapper label {
  transition: 0.3s ease-in-out;
  transform: rotateZ(90deg);
  color: green;
}

#mobile_slider:checked ~ div #gallery-sidebar::after {
  content: "";
  display: block;
  width: 80px;
}

#mobile_slider:checked ~ div .submenu {
  display: none;
}

#mobile_slider:checked ~ div .mhide {
  display: none !important;
}
#mobile_slider:checked ~ div .mvis {
  display: flex !important;
  flex-direction: column;
  align-items: flex-end !important;
  align-self: flex-end !important;
  text-align: right;
  width: fit-content;
}

#mobile_slider:checked ~ div .mvis__fr {
  float: right;
  width: 100%;
}

.reversed-expand {
  display: block !important;
}

/* Sidebar Aside Main */
.sidebar__heading {
  color: var(--text-accent);
}

.sidebar__main-wrapper {
  display: block;
  max-height: 900px;
  height: 100%;
}
.sidebar i {
  padding-left: 2px;
  padding-right: 2px;
}

.detail__submenu.fade-in {
  display: block !important;
}
.submenu__gallery-list {
  margin-left: 25px;
  max-height: 140px;
  overflow-y: auto;
}
.submenu__gallery-content {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  vertical-align: center;
  padding: 3px 4px;
  width: 100%;
  transition: 0.3s ease-in-out;
}
.submenu__gallery-content:hover {
  background: var(--color-primary-lt);
  color: #fff;
  font-weight: 600;
  border-radius: 2px;
}

/* end SideBar */

/* Form Page */
ul#gallery-collection {
  padding: 4px;
  width: 100%;
  overflow-x: scroll;
}

#gallery-collection li {
  display: block;
  max-width: 150px;
}

.album__form legend.title {
  font-weight: 600;
}

#gallery-collection li p {
  width: 100%;
}

.image-upload .card {
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.image-upload .card-body {
  text-align: center;
}

.image-upload input {
  width: 100%;
  margin-bottom: 7px;
}

.image-upload input[type="text"] {
  border: 0.7px solid var(--primary);
  border-radius: 3px;
}

.image-upload input[type="text"]::placeholder {
  font: italic 400 0.852rem -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--primary);
}

.image-upload input[type="file"] {
  display: none;
}

/* end Form Page */

@media screen and (max-width: 475px) {
  .content-title {
    font-size: 1.425rem;
  }
}
