@import 'variables'
@import 'mixins'

*, *::before, *::after
  +cross-browser(box-sizing, border-box)

html
  overflow-x: hidden

body
  width: 100%
  height: 100%
  font-family: "Montserrat", sans-serif
  font-size: 16px
  line-height: 1.5
  color: #333
  background: #fff
  margin: 0
  scroll-behavior: smooth
  +cross-browser(font-smoothing, antialiase)
  +cross-browser(text-rendering, optimizeLegibility)

.disabled
  pointer-events: none
.bgc
  /* Create all bootstrap background color */
  +bootstrap-background-color()

.scrollbar
  &--hz::-webkit-scrollbar
    height: 2px
    transition: all 300ms ease-in-out
  &--hz:hover::-webkit-scrollbar
    height: 2px
    background: grey
  &--vt::-webkit-scrollbar
    transition: all 300ms ease-in-out
    width: 2px
  &--vt:hover::-webkit-scrollbar
    width: 2px
    background: grey

::-webkit-scrollbar
  width: 8px
  height: 8px
  &-track
    background: lightgray
  &-thumb
    background: darkgray
    width: 3px
    height: 3px
    border-radius: 10px

/* Typography */
@for $s from 1 through 6
  $i: 6 - $s
  $header: h#{$i}
  #{$header}
    font-size: #{$s / 2.5 + .5}rem

h1,h2,h3,h4,h5,h6,p
  margin: 0

.text-responsive
  font-size: clamp(28px, 5vw, 52px) !important

.fw-bold
  font-weight: 700

.fw-med
  font-weight: 500

.fw-light
  font-weight: 300

.text__sm
  font-size: 14px

.text__lg
  font-size: 26px
  font-weight: 500

.text-muted
  color: #6c757d

.text__secondary
  color: $text-secondary

.text__accent
  color: $text-accent

.text-ellipsis
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  max-width: 100%

.shadow
  +cross-browser(box-shadow, 0 0 12px rgba(0,0,0,.25) !important)
  &-sm
    +cross-browser(box-shadow, 0 0 16px rgba(0,0,0,.25) !important)
  &-md
    +cross-browser(box-shadow, 0 0 24px rgba(0,0,0,.3) !important)
  &-lg
    +cross-browser(box-shadow, 0 0 32px rgba(0,0,0,.3) !important)

.text-shadow-dark
  text-shadow: 2px 5px 5px rgba(0,0,0,.8)

.text-shadow-md
  text-shadow: 2px 5px 5px rgba(0,0,0,.5)

.text-shadow-lt
  text-shadow: 2px 5px 5px rgba(0,0,0,.3)

/* Typography */

/* Base Css */
ul
  padding: 0

li
  list-style: none

a, a:hover
  text-decoration: none
  color: inherit

img
  cursor: pointer

a,i,button,.btn
  cursor: pointer !important
  +cross-browser(transition, all .3s ease-in-out)


// Firefox remover form  text field background images
form
  input[type="text"],input[type="password"],input[type="email"]
    background-image: none !important

/* End Base Css */

/* Modules */
// pagination
.page-item
  background: #fff
  min-width: 25px
  min-height: 25px
  width: auto
  height: auto
  text-align: center
  border: 1px solid #c3c3c3
  font-weight: 600

  .page-link
    display: grid
    padding: 4px
    place-items: center
    width: 100%
    height: 100%
    transition: .3s ease-in-out
    &.active
      background: $color-cyan

    &.page-number
      min-width: 35px

  &.page-prev
    border-radius: 7px 0 0 7px
  &.page-next
    border-radius: 0 7px 7px 0

  &.page-prev, &.page-next
    &.disabled
      background: lightgray
      opacity: .85
      color: gray

  &:hover:not(.disabled)
    background: $color-blue
    color: #fff

.pos-relative
  position: relative

.group-vert-center
  *
    vertical-align: center

.clear-top
  margin-top: 30px

.theme-ws
  background: whitesmoke

.flex-around
  display: flex
  justify-content: space-around
  align-items: center
  width: 100%
  vertical-align: middle

.flex-between
  display: flex
  justify-content: space-between
  align-items: center
  vertical-align: middle
  width: 100%

.flex-evenly
  display: flex
  justify-content: space-between
  align-items: center
  vertical-align: middle

.flex-center
  display: flex
  justify-content: center
  align-items: center
  vertical-align: middle
  width: 100%

.dropdown
  transition: all ease-in-out

.dropdown.expanded
  display: flex
  flex-direction: row
  *
    padding: 2px 5px

form
  input[type="text"], input[type="email"], input[type="password"],
    color: #000
    padding: 2px 4px
    outline: 1px solid transparent
    border: 1px solid #c3c3c3
    border-radius: 2px
    &:focus
      box-shadow: 0 0 4px rgb(12,202,240)

.alert
  position: relative
  display: block
  padding: 10px 35px 10px 15px
  background: rgba(255,0,0,.65)
  width: fit-content
  color: #1c1c1c
  border-radius: 3px
  text-align: center
  &-danger
    color: #fff
    background: rgba(255,0,0,.65)
  &-warning
    background: rgba(245,225,0,.85)
  &-success
    background: rgba(0,225,80,.55)

  .close
    position: absolute
    right: 0
    top: 0
    display: inline-block
    width: calc(1.5rem + 5px)
    height: calc(1.5rem + 5px)
    background: transparent
    padding: 0px 8px
    color: inherit
    font-size: 1.5rem
    &:hover,&:focus
      border: none
      outline: none
      color: #7c7c7c

.content-title
  font-size: 1.425rem
  font-family: "Lato", sans-serif
  font-weight: 900

.card
  padding: 6px
  border: 1px solid rgba(211,204,204,.3)
  border-radius: 2px

.card-img
  // Gallery main image container
  display: block
  min-width: 200px
  max-width: 450px
  width: auto
  max-height: 325px
  height: auto

.overlay
  display: block
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 500
  &--bgdrk
    background: rgba(0, 0, 0, 0.3)
  &--hovershow .overlay__content
    visibility: hidden
    background: rgba(0,0,0,.5)
  &--hovershow:hover .overlay__content
    height: 100%
    visibility: visible

.col-wrapper
  display: block
  height: 100%
  padding: 10px 15px
  margin-left: 5px
  margin-right: 5px

.img-wrapper
  max-width: 100%
  overflow: hidden
  img
    width: 100%
  &--h200
    max-height: 200px
  &--h300
    max-height: 300px
  &--h400
    max-height: 400px

.img-full
  width: 690px
  height: 400px

.img__upload-wrapper
  img
    display: block
    width: 300px

.trans-300
  transition: all 300ms ease-in-out

.social-share
  display: grid
  place-items: center
  &__content
    padding: 25px 35px
  &__img
    @extend .img-full

  .share-grid
    place-content: center
    .share-card .share__icon
      display: grid
      place-items: center
      border-radius: 4px
      min-width: 110px
      font-size: 3rem
      padding: 4px 6px
      color: #fff
      transition: .3s ease-in-out
      &:hover
        color: inherit
      p
        text-align: center
        font-size: 1.5rem

.badge
  box-shadow: 3px 2px 3px rgba(14, 13, 13, 0.133)
  box-sizing: border-box
  cursor: pointer
  text-align: center
  font-weight: 700
  text-align: center
  +cross-browser(transition,.3s ease-in-out)
  &:hover
    box-shadow: 3px 2px 6px rgba(0,0,0,.3)
  &--shw
    &:hover
      box-shadow: 3px 2px 20px rgba(255,255,255,.2)

.cta
  background: #fff
  display: inline-block
  cursor: pointer
  padding: 8px
  border-radius: 5px
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  font-weight: 600
  letter-spacing: .115ch
  +cross-browser(transition, all .3s ease-in-out)
  text-align: center
  vertical-align: center
  box-shadow: 2px 2px 12px rgba(0,0,0,.2)
  +bootstrap-normal-button()
  +bootstrap-outline-button()
  &--full-block
    display: flex
    align-items: center
    justify-content: center
    font-weight: 700
    font-size: 1.25rem
    cursor: pointer
    min-width: 30px
    min-height: 30px
    width: 100%
    padding: 2px 4px
    text-align: center

  &--lg-full
    display: flex
    align-items: center
    justify-content: center
    font-weight: 9700
    font-size: 1.25rem
    cursor: pointer
    min-width: 100px
    min-height: 55px
    padding: 2px 4px
    text-align: center
  &--px-plus
    *
      padding: 4px 24px

  &--navigation
    transition: 300ms ease-in-out
    &:hover
      @extend .text__accent
      box-shadow: 0px 0px 8px rgba(255,255,255,.2)
  &:hover
    box-shadow: 0px 0px 12px rgba(0,0,0,.2)

.content-container
  display: block
  width: 100%

.content-empty
  display: grid
  place-items: center
  width: 100vw
  height: 100%
  color: gray
  padding: 30px 8px

/* End Modules */

/* Layout */

#galleryset-form
  select[name="category"]
    padding: 4px 8px
    border-radius: 3px
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

#photoset-form
  label
    img
      display: block
      margin: 0 auto
      padding: 4px !important
      max-height: 150px

  input[type="file"]
    display: none !important

  .photo-form
    display: block
    width: 100%

#splash_main_content
  .trend-category
    padding: 12px 8px
  .category
    &--slider
      @extend .flex-between
      max-width: 100vw
      height: 100%
      padding: 12px 8px
      overflow-x: auto
      border-top: 2px solid lightgray
    &__badge
      min-width: 200px
      margin: 5px
      box-shadow: 4px 4px 8px rgba(0,0,0,.4)
      +cross-browser(transition, all .3s linear)
      &:hover
        box-shadow: 4px 4px 8px rgba(0,0,0,.6)

/* Main Styles */

.photo-list
  &.collapse
    visibility: hidden
    opacity: 0
    height: 0
    transition: visibility 0s, opacity 0.2s ease-in-out

.hover-dark
  &:hover
    background: $text-primary

#main-nav .nav__list
  .nav-item
    width: fit-content
    &.active
      color: $text-accent
      border-bottom: 2px solid $text-accent
    &:hover
      color: $text-accent

#gallery-sidebar
  position: absolute
  top: 0
  left: -85%
  display: flex
  flex-direction: column
  width: 0
  height: 100vh
  +cross-browser(transition, 300ms ease-in-out)
  transition-property: left, right, opacity, width
  z-index: 600


#aside_checkbox:checked ~ #main-overlay::before
  content: ""
  position: fixed
  top: 0px
  left: 0
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  background: rgba(0,0,0,.5) !important
  z-index: 600


#aside_checkbox:checked ~ #main #gallery-sidebar
  position: absolute
  top: 0
  left: 0
  display: flex
  box-sizing: border-box
  opacity: 1
  height: calc(100% + 30px)

  .menu-content
    padding: 20px
    max-height: 400px
    overflow-y: auto



#intro-hero
  display: block
  width: 100%
  height: 700px
  background-color: #000
  background-attachment: absolute
  background-repeat: no-repeat no-repeat
  background-size: cover
  background-position: 0% 50%

  .content
    width: 65%
    transform: translateY(40%)
    margin-left: 30px
    &__cta
      width: fit-content

#site-navigation
  background: white
  top: 0
  left: 0
  position: relative
  z-index: 700
  #site-logo
    display: inline-block
    width: 40px
    height: 40px
    margin-right: 4px
    border-radius: 50%
    background: $text-accent
    border: 1px solid $text-accent
    +cross-browser(box-shadow, 2px 1px 8px rgba(0,0,0,.45))

.nav-menu
  ul li.nav-item
    +cross-browser(transition, .3s ease-in-out)
    &:hover
      background: #fff !important
      color: #000 !important

.search_bar
  padding: 5px 7px
  border: 2px solid $text-secondary
  border-radius: 7px

/* Main Style End */

@media (min-width:750)
  .clear-flex
    clear: both
    display: block
    background: yellow !important

@media (max-width: $sm-breakpoint)
  .mobile-show
    display: block !important
    visibility: visible !important

  #intro-hero
    display: block
    width: 100%
    height: 250px
    background-color: #000
    background-attachment: absolute
    background-repeat: no-repeat no-repeat
    background-size: cover
    background-position: 10% 60%
    .content
      transform: translateY(30%)

  .collapse
    visibility: hidden
    opacity: 0
    height: 0
    transition: visibility 0s, opacity 0.2s ease-in-out


  #aside_checkbox:checked ~ #main #gallery-sidebar
    display: block
    width: 60vw
  .social-share
    display: grid
    place-items: center
    width: 100%
    &__content
      padding: 25px 35px
    &__img
      width: 450px
      height: 250px

    .share-card .share__icon
      display: grid
      place-items: center
      border-radius: 4px
      min-width: 90px
      font-size: 2.5rem
      padding: 4px 6px
      color: #fff
      transition: .3s ease-in-out
      &:hover
        color: inherit
        p
          text-align: center
          font-size: 1.2rem
