{% with request.user.gallery_set.all as user_gallery %}
<section id="gallery-sidebar">
  <div class="mobile-slider-wrapper p-2 float-right">
    <label for="mobile_slider">
      <i class="fa fa-bars"></i>
    </label>
  </div>
  <div class="clearfix"></div>
  <aside class="sidebar col-wrapper">
    <!-- SideBar Header -->
    <nav class="navbar navbar-expand reversed-expand d-block px-0">

      <div class="header">
        <div class="header__action fw-med d-flex justify-content-around">
          <a class="hlight mhide" href="{% url 'core:index' %}">
            <i class="fa fa-home"> <b>Home</b> </i>
          </a>
          <a class="hlight mvis mvis__fr" href="{% url 'core:gallery-create' %}">
            <i class="fa fa-plus-circle"> <b>New</b> </i>
          </a>
          <!-- / End SideBar Header -->
        </div>
        <hr>
      </div>

      <div class="inner-nav sidebar" id="sidebar-nav">
        <!-- SideBar Menu -->

        {% if request.user.is_authenticated %}
        <p class="sidebar__heading mvis mvis__fr mb-4">Menu</p>
        {% else %}
        <a href="{% url 'account_login' %}" class="sidebar__heading mvis mvis__fr mb-4">Login</a>
        {% endif %}

        <ul class="sidebar__main-wrapper w-100">
          {% for gallery_album in user_gallery %}
          <!--SUBMENU-->
          <li class="sidebar__detail detail">
            <!--aside preview items -->

            <div class="detail__preview mvis hlight mb-1 w-100 d-none">
              <small class="text-ellipsis text-right d-block" style="width:70px;">{{gallery_album}}</small>
              <a href="{{gallery_album.get_absolute_url}}">
                <img src="{{gallery_album.photo_set.first.image.url}}" alt="{{gallery_album}} cover image" class="img__thumbnail" style="width:50px;height:40px">
              </a>
            </div>

            <div class="detail__gallery mhide w-100">
              <a class="detail__gallery-toggler text-white d-flex justify-content-between mb-1" aria-expanded="false" href="#">
                <span><i class="fa fa-image"></i>
                  <span class="submenu__title">{{gallery_album}}</span>
                </span>
                <span><small class="icon-badge badge bg-danger rounded-circle"> {{gallery_album.photo_set.count}}</small>
                  <i class="caret fa fa-angle-down"></i>
                </span>
              </a>

              <!--Submenu Gallery List Item-->
              <ul class="detail__submenu submenu collapse">
                <li class="detail__submenu-item">
                  <p class="badge badge-link bg-primary float-right my-2">
                    <a class="badge-link__text text-white" href="{{gallery_album.get_absolute_url }}">view gallery</a>
                  </p>
                  <div class="clearfix"></div>
                </li>
                <!--Submenu Photo Item-->
                <li class="submenu__gallery-list my-2">
                  {% for image in gallery_album.photo_set.all %}
                  <div class="submenu__gallery-content hlight">
                    <small class="text-ellipsis">{{image}}</small>
                    <a href="{{image.image.url}}">
                      <img src="{{image.image.url}}" alt="{{image}} image" class="img__thumbnail" style="width:30px;height:30px">
                    </a>
                  </div>
                  {% endfor %}
                </li>
              </ul>
            </div>
            <!--End Submenu Content-->
          </li>
          {% empty %}
          <li class="submenu sidebar__submenu text-center">
            <p> You have no gallery</p>
            <a href="{% url 'core:gallery-create' %}" class="btn btn-success fw-bold my-1">
              <i class="fas fa-photo mx-1"></i>
              Create an Ablum
            </a>
          </li>
          <!--end submenu-->
          {% endfor %}
          <li class="submenu sidebar__submenu">
          </li>
        </ul>

        <!-- /Menu -->
      </div>

    </nav>
    <script type='text/javascript'>
        window.onload = () =>{

        /**
          * ASIDE SIDEBAR SCRIPT  
        **/
         $('#site-main').on('click touch',function(){
           // Checked means closed
           $('#mobile_slider').prop('checked',true);

         })

        const toggler = $('.detail__gallery-toggler');
        $(toggler).on('click touchstart',function(e){
          e.preventDefault();
          const is_expanded =  $(this).attr('aria-expanded');
          // Reset toggler and content
          $('.detail__submenu').addClass('collapse').removeClass('fade-in')
          $(toggler).attr('aria-expanded','false')
          $('.caret').removeClass('fa-angle-up').addClass('fa-angle-down')

          // Expand submenu content
          const content = $(this).siblings('.detail__submenu').first()
          if (is_expanded == false || is_expanded === "false"){
            $(this).attr('aria-expanded','true');
            $(content).toggleClass('collapse').addClass('fade-in');
            $(this).find('.caret').removeClass('fa-angle-down').addClass('fa-angle-up')
          }
        })
        /** 
          * ASIDE SIDEBAR SCRIPT  
        **/

        /** 
          * CUSTOM IMAGE UPLOAD FORM SCRIPT 
        **/ 
        const inputs = $('.image-upload').find('input[type=file]')
        if (inputs){
        const input_ids = $(inputs).map(function(){return $(this).attr('id')})
        const image_labels = $('.image-upload').find('label').each(
            (i,c)=>{
              $(c).attr('for',input_ids[i])
      })

      $(inputs).on('change',function(){
        const filename = this.files[0]['name']
        
        const custom_label = $(this).siblings('label').find('p');
        $(custom_label).text(filename)
        })
        }
        /**
         * CUSTOM IMAGE UPLOAD FORM SCRIPT END 
         **/ 

        }
      </script>
  </aside>
</section>

{% endwith %}