{% extends 'base.html' %}
{% load core_extras %}
{% load static %}

{% block breadcrumb %}{% endblock breadcrumb %}
{% block content %}
  <section id="faq-section" class="min-h-80">

    <div class="relative py-16 bg-gradient-to-b from-indigo-700 to-indigo-600 flex justify-center items-center">
      <div>
        <h1 class="text-3xl sm:text-4xl lg:text-5xl font-bold leading-10 text-white">How can we help you?</h1>
        <div class="bg-indigo-800 rounded relative mt-6 lg:mt-14 py-4 pl-4 flex items-center w-full">
          <i class="fa fa-search text-gray-200"></i>
          <input type="text" placeholder="Search for answers"
                 class=" ml-4 w-full bg-transparent text-base leading-none text-white placeholder-white border-none focus:outline-none ">
        </div>
      </div>
    </div>
    <div class="container mx-auto py-9 flex flex-col items-center justify-center">
      <div role="list" class="w-11/12 md:w-2/3 grid grid-cols-1 md:grid-cols-2 gap-6">
        {% for topic in faq_topics %}
          <div role="listitem" class="focus:outline-none">
            <div class="bg-white focus:outline-none shadow-md flex items-center p-4 lg:p-8 cursor-pointer">
              <div class="flex">
                <div class="ml-4">
                  <p class="text-base font-medium leading-none text-gray-800">{{ topic.name }}</p>
                  <p class="text-xs lg:text-sm xl:text-base lg:leading-normal text-gray-600 mt-2 2xl:w-7/12">{{ topic.description }}</p>
                  <a class="btn btn-primary mt-4 hover:text-gray-200" href="">Learn More </a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="mt-9 md:mt-11 lg:mt-16">
        <h1 class="text-3xl text-center font-medium leading-loose text-gray-800">Didn’t find an answer?</h1>
        <div class="flex justify-center items-center">
          <a href="{% url 'core:contact-us' %}"
             class="mt-4 md:mt-6 py-3 px-6 bg-indigo-800 hover:bg-indigo-700 rounded text-white text-center font-medium text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-800">Contact
            us</a>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
